<!doctype html>
<html>
<head>
  <title>
    {{ shop.name }}
  </title>
</head>

  <body>
    {{ shop.description }}

    {% if shop.address %}
      <div>{{ shop.address.city }}</div>
      <div>{{ shop.address.zip }}</div>
    {% endif %}

    {% assign lol = shop.address %}
    <p>{{ lol.zip }}</p>
  </body>
</html>
